/* APP GLOBAL VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');
:root {
  --dark: #57595b;
  --accent: #68a4ff;
  --bg_accent_light: #edf6ff;
  --white: #ffffff;

  --card_shadow: -2px 2px 3px rgba(184, 180, 180, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0.8rem;
}
h2 {
  margin: 0.6rem;
}
h3 {
  margin: 0.4rem;
}
h4 {
  margin: 0.2rem;
}

.dashboard--container {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  background-color: var(--bg_accent_light);
}

.sidebar {
  display: flex;
  width: 25%;
  height: 100%;

  background-color: var(--accent);
  border-radius: 0 10px 10px 0;
}

.main--container {
  display: flex;
  width: 75%;
  height: 100%;
  flex-direction: column;

  /* justify-content: center; */
  /* align-items: center; */
}

.main--container_title {
  margin: 2rem 2rem 0 3rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--dark);
  align-self: flex-start;
  justify-self: flex-start;

}

.underline {
  height: 0.4rem;
  width: 20rem;
  background-color: var(--accent);
  margin: 0 2rem 2rem 4rem;
}

.card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.card,
.add--new--card {
  width: 20rem;
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: var(--card_shadow);
  margin: 2rem;
}

input.new--card--input {
  padding: 0.8rem;
  font-size: 1.1rem;
  color: var(--dark);

  margin: 0.2rem 0.25rem;

  border: #57595b 2px solid;
  border-radius: 5px;
}
.time--input--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input.time--input {
  margin: 0.25rem;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  width: 6rem;
  color: var(--dark);

  border: var(--dark) 2px solid;
  border-radius: 5px;
}

.new--card--header {
  justify-self: flex-start;
}

.time--input--icons--wrapper {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;

  color: var(--dark);
  transition: transform 0.3s ease-out;
}

.time--input--icons--wrapper :hover {
  cursor: pointer;
  transform: scale(1.05);
}

.time--input--icons--wrapper :active {
  transform: scale(0.95);
}

.time--input--icons {
  height: 90%;
  width: 90%;
}

/*? //////////////////////////////////////////////////////////////// */
/*? //////////////////////////////////////////////////////////////// */
/*? //////////////////////////////////////////////////////////////// */
/*? //////////////////////////////////////////////////////////////// */


.sidebar {
  justify-content: center;
}


/*  Buttons */

/*? New Card Creation Button */

button {
  padding: 0.6rem 0.8rem;
  margin: 0.5rem 1rem;
  margin-top: 1.5rem;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 5px;
  border: none;

  align-self: flex-end;
  box-shadow: -1px 1px 2px rgba(184, 180, 180, 0.1);
  transition: transform 0.1s ease-out;
}

.button--wrapper :hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -1px 2px 2px rgba(184, 180, 180, 0.4);
}

.button--wrapper :active {
  transform: scale(0.98);
}

.download--report--button {
  background-color: #edf6ff;
  color: var(--dark);
  font-size: 1.2rem;
  align-self: center;
}